.card-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 10px;
}

.card-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.card-item {
  list-style: none;
}

.card-link {
  display: block;
  background: var(--color-bg-sidebar);
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px var(--color-shadow);
  transition: 0.3s ease;
}

.card-link:hover {
  border-color: var(--color-hover-primary);
}

/* badge, title, description, button,... */
